<nav class="navbar navbar-expand-sm bg-dark navbar-dark fix-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="imgs/yeu.jpg" alt="vk logo" style="width:40px;" class="rounded-pill"> 
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item mx-3">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-3" href="#">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-3" href="#">Your Courses</a>
        </li>  
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">User</a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/login">login</a></li>
            <li><a class="dropdown-item" href="/logout">logout</a></li>
            <li><a class="dropdown-item" href="#">register</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
